---
interface Props {
  works_url: string,
}

const { works_url } = Astro.props;

const text_1 = "I'm a passionate digital designer who specializes in crafting captivating visual experiences for the digital world.";
const text_2 = "My world revolves around breathing life into websites, apps, and graphics, turning them into interactive and visually stunning adventures.";
---

<section class="w-full h-min px-6 py-9 sm:px-11 sm:py-14 flex justify-center relative">
    <div class="absolute w-0 h-0 top-[-120px] left-0" id="about" />
    <div class="w-full max-w-[1440px] flex flex-col md:flex-row lg:grid lg:grid-cols-2 gap-6 sm:gap-9">
        <h2 class="text-black text-mh2 sm:text-h2 md:w-3/6 lg:w-full">About</h2>
        <div class="flex flex-col gap-2 sm:gap-5 text-left w-full">
            <h3 class="text-black text-pl sm:text-h3 sm:font-normal">{text_1}</h3>
            <h3 class="text-black text-pl sm:text-h3 sm:font-normal">{text_2}</h3>
            <a href={works_url} class="text-black hover:text-white-200 active:text-black disabled:text-gray-300 text-pb sm:text-pn font-normal mt-7 sm:mt-7 px-8 py-5 uppercase border rounded-full border-black active:border-gray-200 disabled:border-gray-300 bg-[#00000000] hover:bg-black active:bg-gray-200 disabled:bg-[#00000000] min-w-fit w-full sm:w-fit flex flex-nowarp items-center ease-out duration-200 justify-center">
                explore my work
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={2} stroke="currentColor" className="w-6 h-6" class="ml-2 w-5 h-5 stroke-2">
                    <path strokeLinecap="round" strokeLinejoin="round" d="M19.5 13.5L12 21m0 0l-7.5-7.5M12 21V3" />
                </svg>              
            </a>
        </div>
    </div>
</section>