---
import '../styles/main.css';

interface Props {
	title: string;
	description: string;
	favicon: string;
}

const { title, description, favicon } = Astro.props;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/ico" href={favicon} />
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />