---

const posts = await Astro.glob('../pages/blog/*.md');

---

<section class="w-full h-min px-11 py-12 grid grid-cols-2 gap-9" id="blog">
    <h2 class="text-black text-h2 font-normal">Blog</h2>
    <div class="grid grid-cols-2 gap-9">
        {posts.map(post => (
            <a href="/" class="flex flex-col bg-white-100 rounded-2xl">
                <img src={post.frontmatter.placeholder} alt="Placeholder Image" class="rounded-t-2xl w-full">
                <div class="flex flex-col gap-2 p-7">
                    <p class="text-gray-200 text-ps whitespace-nowrap">{post.frontmatter.date}</p>
                    <h5 class="text-black text-h5">{post.frontmatter.title}</h5>
                    <p class="text-black text-pn">{post.frontmatter.description}</p>
                </div>
            </a>
        ))}
    </div>
</section>