<section class="w-full h-min px-6 py-9 sm:px-11 sm:py-14 flex justify-center" id="capabilities">
    <div class="w-full max-w-[1440px] flex flex-col md:flex-row lg:grid lg:grid-cols-2 gap-9">
        <h2 class="text-black text-mh2 sm:text-h2 md:w-3/6 lg:w-full">Capabilities</h2>
        <div class="flex flex-col sm:grid sm:grid-cols-2 gap-x-6 gap-y-5 sm:gap-y-9 grid-flow-row w-full">
            <div class="flex flex-row sm:flex-col gap-5">
                <h5 class="text-black text-h6 sm:text-h5 w-full">UX/UI Design</h5>
                <p class="text-black text-ps sm:text-p leading-snug w-full">Crafting digital interfaces that seamlessly blend user experience and user interface principles.</p>
            </div>
            <div class="block sm:hidden h-[1px] w-full bg-gray-100" />
            <div class="flex flex-row sm:flex-col gap-5">
                <h5 class="text-black text-h6 sm:text-h5 w-full">Interaction Design</h5>
                <p class="text-black text-ps sm:text-p leading-snug w-full">Designing interactive elements and interfaces that engage users effectively.</p>
            </div>
            <div class="block sm:hidden h-[1px] w-full bg-gray-100" />
            <div class="flex flex-row sm:flex-col gap-5">
                <h5 class="text-black text-h6 sm:text-h5 w-full">Responsive Design</h5>
                <p class="text-black text-ps sm:text-p leading-snug w-full">Creating adaptable designs that ensure a consistent user experience across devices and screen sizes.</p>
            </div>
            <div class="block sm:hidden h-[1px] w-full bg-gray-100" />
            <div class="flex flex-row sm:flex-col gap-5">
                <h5 class="text-black text-h6 sm:text-h5 w-full">Interactive Prototypes</h5>
                <p class="text-black text-ps sm:text-p leading-snug w-full">Developing prototypes that bring designs to life and allow stakeholders to explore product functionality.</p>
            </div>
            <div class="block sm:hidden h-[1px] w-full bg-gray-100" />
            <div class="flex flex-row sm:flex-col gap-5">
                <h5 class="text-black text-h6 sm:text-h5 w-full">Product Design</h5>
                <p class="text-black text-ps sm:text-p leading-snug w-full">Approaching design holistically by considering user needs, business objectives, and technical feasibility.</p>
            </div>
            <div class="block sm:hidden h-[1px] w-full bg-gray-100" />
            <div class="flex flex-row sm:flex-col gap-5">
                <h5 class="text-black text-h6 sm:text-h5 w-full">Branding</h5>
                <p class="text-black text-ps sm:text-p leading-snug w-full">Aligning designs with brand identity to enhance recognition and user trust.</p>
            </div>
            <div class="block sm:hidden h-[1px] w-full bg-gray-100" />
            <div class="flex flex-row sm:flex-col gap-5">
                <h5 class="text-black text-h6 sm:text-h5 w-full">Mobile app</h5>
                <p class="text-black text-ps sm:text-p leading-snug w-full">Specializing in mobile app interfaces, addressing the unique challenges and opportunities of the mobile platform.</p>
            </div>
        </div>
    </div>
</section>